.contenedor{
	background: violet;
	border: 1px solid black;
	overflow: hidden;/*es para evitar el colapso del contenedor*/
	clear: both;
}

li{
	float: left;
	height: 140px;
	margin: 20px; 
}
.img1{
	width: 200px;
	height: 300px;
	float: right;
	margin: 0em 0.2em;
}
.img2{
	width: 200px;
	height: 300px;
	float: left;
	margin: 0em 0.2em;
}
h1{
	text-align: center;
}
p{
	text-align: justify;
}
h1 span{
	color: yellow;
	margin: 20px;
	font-size: 0px;
}

i{
	color: purple;
	margin-left: 400px;
}
